body {
	max-width: min-content;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: sans-serif;
}

#printer-output {
	color-scheme: light;
	display: flex;
	flex-direction: column;
	height: 80vh; /* Example height, adjust as needed */
	overflow-y: scroll;
	border: 1px solid light-dark(#ccc, #333); /* Just for visualization */
	scrollbar-gutter: stable both-sides;
	background-color: #c8c8c8;
}

#printer-output::before {
	content: '';
	flex-basis: 100%;
	flex-shrink: 0;
}

.paper {
	background-color: white;
	color: black;
	padding: 10px;
	font-family: monospace;
	box-sizing: content-box;
}

.paper:empty {
	padding-block: 0;
}

#printer-output img {
	max-width: 100%;
	height: auto;
	display: block;
}
