*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: sans-serif;
}

body {
	max-width: min-content;
	margin: 0 auto;
	overflow-y: scroll;
}

.content {
	padding-inline: 20px;
	min-height: 100svh;
}

.placeholder {
	height: 100svh;
	display: grid;
	grid-template-rows: auto 1fr;
	position: sticky;
	top: 0;
}

.placeholder::after {
	content: '';
	flex-basis: 100%;
	flex-shrink: 0;
	background-color: light-dark(#c8c8c8, #333);
	background-image: url('icons/original.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 140px;
	display: grid;
	align-items: center;
	justify-content: center;
	filter: grayscale(1);
}

h1 {
	text-align: center;
	padding-block: 0.5em;
}

#printer-output {
	display: flex;
	flex-direction: column;
	overflow-x: clip;
}

.paper {
	background-color: white;
	color: black;
	padding: 10px;
	font-family: monospace;
	box-sizing: content-box;
	position: relative;
	color-scheme: light;
}

.paper:empty {
	padding-block: 0;
}

#printer-output img {
	max-width: 100%;
	height: auto;
	display: block;
}

.cut-line {
	border-top: 1px dashed black;
	margin: 10px 0;
}
