name: Build

on: push

env:
  DENO_DIR: deno_cache

jobs:
  run:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - macos-latest # @TODO: uncomment once compile is fixed
          # - windows-latest # @TODO: uncomment once compile is fixed
    runs-on: ${{ matrix.os }}
    permissions:
      id-token: write # Needed for auth with Deno Deploy
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Check formatting
        if: matrix.os == 'ubuntu-latest'
        run: deno fmt --check
      - name: Lint
        if: matrix.os == 'ubuntu-latest'
        run: deno lint
      # @TODO: Create tests
      # - name: Test
      #   if: matrix.os == 'ubuntu-latest'
      #   run: deno test --allow-all
      # @TODO: Figure out how to compile
      # - name: Compile
      #   run: deno task compile
      - name: Cache Deno dependencies
        uses: actions/cache@v5
        with:
          path: ${{ env.DENO_DIR }}
          key: ${{ matrix.os }}-${{ hashFiles('deno.lock') }}
      - name: Build frontend
        if: matrix.os == 'ubuntu-latest' && github.ref == 'refs/heads/deploy'
        run: deno task build
      - name: Upload to Deno Deploy
        if: matrix.os == 'ubuntu-latest' && github.ref == 'refs/heads/deploy'
        uses: denoland/deployctl@v1
        with:
          project: virtual-thermal-printer
          entrypoint: 'main.ts'
          root: '.'
